<% @articles.each do  |article| %>
<%= raw @markdown.render("article title") %>
<h1> <%= article.title %> </h1>
<p> <%= article.content %> </p>
<p> <%= link_to "Delete", article_path(article), method: :delete, data: { confirm: "Are you sure?" } %> </p>
<% end %>
